@import "tailwindcss";

@theme {
  --color-primary: #c43ab9;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      sans-serif;
  }

  ::selection {
    background: rgba(99, 102, 241, 0.35);
  }
}
